<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="org.groupid" />

    <bean id="character1" class="org.groupid.Character"> <property name="name" value="THE Giant Squid" />
        <property name="health" value="100" />
        <property name="strength" value="15" />
        <property name="fightingPower" ref="Nemobeam" />
    </bean>

    <bean id="character2" class="org.groupid.Character">
        <property name="name" value="Captain Nemo" />
        <property name="health" value="500" />
        <property name="strength" value="80" />
        <property name="fightingPower" ref="Twentyk" />
    </bean>
</beans>